
* {
    /*border:1px solid red;*/
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
h1 {
    font-size: 3.4em;
    line-height: 1.1em;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 600;
}
.container {
    width: 90vw;
    display: flex;
    margin: 0 auto;
}
.hero {
    display: grid;
    grid-template-columns: 50% 1fr;
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 30px;
    justify-self: center;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    margin-bottom: 4%;
}
.project {
    width: 100%;
    display: flex;
    padding: 2% 30px;
    margin-bottom: 4%;
    flex-direction: row;
}
.project-category {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}
.project-title {
    margin-top: 0;
    font-size: 1.8em;
    line-height: 1.2em;
}
.project-sub-title {
  margin-bottom: 0;
}
.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  .column-half {
    width: 100%;
    max-width: 100%;
    padding: 0 4%;
  }
header {
    padding: 4% 0;
}
.gallery-item {
    max-width: 33.3%;
}
.gallery-item img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.gallery-item img:hover {
  opacity: 0.7;
}
.short {
    max-height: 350px;
    object-fit: cover;
    object-position: top;
}

.project-description, .project-description a {
  color: #414141;
}

/* Modal Styling */

.modal-img {
  cursor: pointer;
  transition: 0.3s;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.modal-img:hover {
  opacity: 0.7;
}
.img-contain {
  object-fit: contain;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 100px 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

[id^=modal] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
[id^=modal]:target {
  display: block;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Top Top Button */

#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0,0,0,0.4); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 40px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
  }

  #toTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* SLIDESHOW */

  /* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.2); 
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*SLIDESHOW END */
  

  footer p {
    text-align: center;
    font-size: 14px;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    .project {
      flex-direction: column;
    }
    .column-half {
      padding-top: 20px;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }